@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

// colors
$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);
$black-clr: #000;
$white-clr: #fff;
